---
layout: default
title: Features
suppress_header: true
extra_css:
  - features.css
extra_js:
  - libs/jquery.magnific-popup.min.js
---
.wrapper
  .wide-feature.mr
    .row
      .col-md-12
        .name
          powerful
          %b code review
        .description
          Merge requests with line-by-line comments, CI and issue tracker integrations and much more...
      .wide-img
        %a.image-link{href: "/images/feature_page/mr_sh.png"}
          = image_tag "/images/feature_page/mr_sh.png", class: "img-responsive"
      .wide-feature-link
        %a.btn-default{href: "https://gitlab.com/gitlab-org/gitlab-ce/merge_requests"} See the power of merge requests on GitLab.com
  .container
    .row.feature-row.first
      .col-md-4.small-feature
        .name
          ACTIVITY
          %b STREAM
        %a.image-link{href: "/images/feature_page/activity_stream_full.png"}
          = image_tag "/images/feature_page/activity_stream_full.png", class: "img-responsive"
        .link
          %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/activity"} Have a look at an actual activity page
      .col-md-4.small-feature
        .name
          FILE
          %b BROWSER
        %a.image-link{href: "/images/feature_page/file_browser_full.png"}
          = image_tag "/images/feature_page/file_browser_full.png", class: "img-responsive"
        .link
          %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/tree/master"} Try navigating GitLab's code
      .col-md-4.small-feature
        .name
          GIT POWERED
          %b WIKI
        %a.image-link{href: "/images/feature_page/wiki_full.png"}
          = image_tag "/images/feature_page/wiki_full.png", class: "img-responsive"
    .row.feature-row
      .col-md-4.small-feature
        .name
          ISSUE
          %b MANAGEMENT
        %a.image-link{href: "/images/feature_page/issue_management.png"}
          = image_tag "/images/feature_page/issue_management.png", class: "img-responsive"
        .link
          %a{href: "https://gitlab.com/gitlab-org/gitlab-ce/issues"} See how we use issues to manage our open source project
      .col-md-4.small-feature
        .name
          CODE
          %b SNIPPETS
        %a.image-link{href: "/images/feature_page/snippets_full.png"}
          = image_tag "/images/feature_page/snippets_full.png", class: "img-responsive"
      .col-md-4.small-feature
        .name
          WEB
          %b HOOKS
        %a.image-link{href: "/images/feature_page/webhooks_full.png"}
          = image_tag "/images/feature_page/webhooks_full.png", class: "img-responsive"
    .row.feature-row.last
      .col-md-4.small-feature
        .name
          GIT
          %b HOOKS
        %a.image-link{href: "/images/feature_page/githooks_full.png"}
          = image_tag "/images/feature_page/githooks_full.png", class: "img-responsive"
      .col-md-4.small-feature
        .name
          LDAP
          %b GROUP SYNC
        %a.image-link{href: "/images/feature_page/ldap_groups_full.png"}
          = image_tag "/images/feature_page/ldap_groups_full.png", class: "img-responsive"
      .col-md-4.small-feature
        .name
          REPOSITORY
          %b MIRRORING
        %a.image-link{href: "/images/feature_page/mirror.png"}
          = image_tag "/images/feature_page/mirror.png", class: "img-responsive"
        .link
          %a{href: "http://docs.gitlab.com/ee/workflow/repository_mirroring.html"}
            Read about repository mirroring
= partial "includes/features/gitlab-ee-trial"
